/* helper css*/
.row {
  max-width: 1170px;
}
.row.full-width {
  width: 100%;
  max-width: 100%;
}

/* content sections */
section.content {
    padding: 60px 0;
}

/* navigation */
.navigation {
    z-index: 1;
    background: transparent;
}
.fixed.navigation {
    background: whiteSmoke;
}

/* top bar */
.top-bar * {
    transition: all 0.2s ease;s
}
.top-bar {
    height: auto;
    max-height: 2.8125rem;
    transition: max-height 0.5s ease;
    background: transparent;
}
.top-bar.expanded {
    max-height: 1000px;
}

/* desktop */
@media only screen and (min-width: 40.063em) {
    .contain-to-grid .top-bar {
      max-width: 1170px;
    }
    .top-bar {
        max-height: none;
    }
    .top-bar .name h1 a {
        margin: 12px 0;
    }
    .top-bar-section > ul > li {
        /* spacing for li to adjust nav height */
        margin: 12px 0;
    }

    .fixed .top-bar .name h1 a {
        margin: 0;
    }
    .fixed .top-bar-section > ul > li {
        /* spacing for li to adjust nav height */
        margin: 0;
    }

    /* nav under */
    .navigation.nav-under .top-bar-section {
        clear: both;
    }
    .top-bar .name,
    .navigation.nav-under .top-bar .name h1 a {
        height: 3.8125rem;
        line-height: 3.8125rem;
    }
    .navigation.nav-under .top-bar .name h1 a,
    .navigation.nav-under .top-bar-section > ul > li {
        margin: 0;
    }
}

.top-bar.expanded .title-area {
    background: transparent;
}

/* nav colors */
.top-bar-section ul li {
    background: transparent;
}
.top-bar-section .has-dropdown > a:after,
.top-bar-section ul li > a {
    color: #000;
}
.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
    color: #000;
}
@media only screen and (min-width: 40.063em) {
    .top-bar-section li:not(.has-form) a:not(.button) {
      background: transparent;
    }
}
.top-bar .toggle-topbar.menu-icon a {
    color: #000;
    padding: 0 2.5rem;
}

.top-bar .toggle-topbar.menu-icon a span::after {
    box-shadow:0 0 0 1px #000, 0 7px 0 1px #000, 0 14px 0 1px #000;
}

/* hero */
section.hero img {
    width: 100%;
}

@media only screen and (min-width: 40.063em) {
    .hero.under-navigation {
        margin-top: -70px;
    }
}
