section.hero img {
    width: 100%;
}

section.hero {
	background: url('../img/header-bg.jpg') no-repeat $primaryColor;
	background-size: cover;
  	padding: 65px 20px 20px 20px;

  	@media only screen and (min-width: 40.063em) {
	    padding: 185px 0 100px 0;
	}

  	p {
  		color: #fff;
  		max-width: 600px;
  		margin: 40px auto;
  		text-align: center;
  	}
	
	.logo {
		display: block;
		margin: 0 auto;
		width: auto;
	}
}