

.top-bar .name h1 a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    transition: ease all 0.2s;
}

/* navigation */
.f-topbar-fixed {
    padding-top: 0px !important;
}

.top-bar .name h1 a {
    width: auto;
}
.top-bar .toggle-topbar.menu-icon a span::after {
    color: $primaryColor;
    box-shadow: 0 0 0 1px $primaryColor,
                0 7px 0 1px $primaryColor,
                0 14px 0 1px $primaryColor;
}
.navigation {
    z-index: 1;

    &.sticky {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &.contain-to-grid {
        background: transparent;
    }

    .title-area {
        height: 50px;

        .name {
            margin-top: 3px;

            img {
                width: 100%;
            }
        }
    }

    &.fixed {
        position: fixed;
        background: #fff;
        box-shadow: 0 3px 10px rgba(0,0,0,0.1);

        .name h1 a {
          color: $primaryColor;
        }
        .top-bar-section {
            ul {
                margin-top: 2px;

                li {
                    > a {
                        color: $navigationFixedTextColor;

                        &:hover {
                            color: $primaryColor;
                            background: $secondaryColor;
                        }
                    }
                }
            }
        }

        @media only screen and (min-width: 40.063em) {
            margin-top: 0;
        }
    }

    @media only screen and (min-width: 40.063em) {
        margin-top: 12px;
    }
}
.top-bar-section {
    ul {
        background: $primaryColor;

        @media only screen and (min-width: 40.063em) {
            background: transparent;
        }
        li {
            background: transparent;
            >a {
                font-family: $navigationFontFamily;
                font-size: $navigationFontSize;
                color: $navigationTextColor;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}


.top-bar-section li:not(.has-form) a:not(.button) {
    @media only screen and (min-width: 40.0625em) {
        background: transparent;
    }
}


.top-bar.expanded .title-area {
    background: transparent;
}



/* top bar */
.top-bar * {
    transition: all 0.2s ease;
}
.top-bar {
    height: auto;
    max-height: 2.8125rem;
    transition: max-height 0.5s ease;
    background: transparent;
}
.top-bar.expanded {
    max-height: 1000px;
}
