$primaryFontFamily: "effra",sans-serif;
$primaryFontSize: 14pt;

$headingFontFamily: 'Georgia', serif;

$primaryColor: #74110a;
$secondaryColor: #CB9E0A;


$navigationFontFamily: "effra",sans-serif;
$navigationFontSize: 12pt;
$navigationTextColor: #fff;
$navigationFixedTextColor: $primaryColor;